<a href="/login" class="dropdown-item notify-item">
  <i class="fi-head"></i> <span>Login</span>
</a>
<!-- item-->
<a href="/signup" class="dropdown-item notify-item">
  <i class="fi-power"></i> <span>Signup</span>
</a>