<a href="/users/edit" class="dropdown-item notify-item">
  <i class="fi-head"></i> <span>My Account</span>
</a>
<!-- item-->
<a rel="nofollow" data-method="delete" href="/users/sign_out" class="dropdown-item notify-item">
  <i class="fi-power"></i> <span>Logout</span>
</a>