<div class="item">
  <h3 class="title"><i class="fas fa-graduation-cap"></i> B.Tech(IT)</h3>
  <h4 class="university">University College London <span class="year">(2012-2015)</span></h4>
</div><!--//item-->
<div class="item">
  <h3 class="title"><i class="fas fa-graduation-cap"></i> Diploma in Computer Science</h3>
  <h4 class="university">University of Bristol <span class="year">(2010-2012)</span></h4>
</div><!--//item-->