<footer class="footer">
  <div class="container text-center">
    <small class="copyright">Designed with <i class="fas fa-heart"></i> by <a href="#" target="_blank">Chandrasekar</a> for developers</small>
  </div><!--//container-->
</footer><!--//footer-->
